* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background: url('service.jpg') no-repeat center center/cover;
    backdrop-filter: blur(3px);
    padding: 40px;
    color: white;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.form-section {
    background: rgba(0, 0, 0, 0.6);
    max-width: 500px;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.form-section h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

.service-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 15px;
}

input, select, textarea {
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

textarea {
    height: 120px;
    resize: none;
}

.btn {
    padding: 12px;
    background: #00d9ff;
    border: none;
    color: black;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: white;
    color: #007bff;
    transform: scale(1.05);
}
